body {
    background: rgb(4, 9, 17);
    color: aliceblue;
    margin-left: 20px;
}
a {
    color: aliceblue
}
h1 {
    font-family: fantasy;
}
img {
    margin-bottom: 20px;
    width: 300px;
}

footer {
    margin-bottom: 30px;
}